@import "tailwindcss";

:root {
  --base: #15181a;
  --primary: #2c2c2c;
  --text: #9C9C9C;
}

body {
  font-family: var(--font-raleway);
}

h1 {
  font-family: var(--font-raleway), sans-serif;
}

a, p {
   font-family: var(--font-ibmplex)
}

.title {
  font-family: var(--font-raleway);
}